<div class="info-wrapper">
  <div class="info-box">
    <p>Hi there, Im a front end developer !</p>
    <p>I write html css javascript and ruby</p>
    <p>This website is very much a work in progress as im going to be using<br/> it as a place for me to store random projects of mine</p>
  </div>
</div>
