<link rel='stylesheet' href='/stylesheets/home_style.css' />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container-fluid">
  <div class="row zesty-header-wrapper">
    <div class="col-sm-3">
      <img style="margin-top: -20px;" src="/images/logo.png" alt="">
    </div>
    <div class="col-sm-6 text-center">
      NEED HELP ? CALL 05686 82486 2737
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" name="" value="" class="form-control">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        A free service to find and book you a <br />
        healthcare professional thats right for you...
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 form-group-lg">
      <input type="text" name="" value="" placeholder="Town, city, area or postcode" class="form-control">
    </div>
    <div class="col-sm-5 form-group-lg">
      <input type="text" name="" value="" placeholder="Choose a speciality" class="form-control">
    </div>
    <div class="col-sm-2">
      <a href="#" class="btn btn-success" placeholder="Choose a speciality">Go ></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">Private Services</h2>
      <ul class="flex-container">
        <li class="flex-item">
          DENTIST
        </li>
        <li class="flex-item">
          PHYSIOTHERAPIST
        </li>
        <li class="flex-item">
          OSTEOPATH
        </li>
        <li class="flex-item">
          CHIROPRACTOR
        </li>
        <li class="flex-item">
          SPORTS MASSAGE
        </li>
        <li class="flex-item">
          PODIATRIST
        </li>
        <li class="flex-item">
          PRIVATE DOCTOR
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">NHS Services</h2>
      <ul class="flex-container nhs-services-wrapper">
        <li class="flex-item">
          SEXUAL HEALTH TESTING
        </li>
        <li class="flex-item">
          CONTRACEPTION
        </li>
        <li class="flex-item">
          DENTIST
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row zesty-app-wrapper text-center">
    <div class="col-sm-12">
      <!-- Should be helvetica rounded bold -->
      <h1 class="gtza-header">Get the Zesty App!</h1>
      <img src="/images/download_app.png" style="margin-top: 30px;" alt="">
      <img src="/images/phone.png" class="zesty-phone-img" alt="">
    </div>
  </div>
  <div class="row zesty-learn-more-wrapper">
    <div class="col-sm-4">
      <img src="/images/duel_phones.png" alt="">
    </div>
    <div class="col-sm-4">
      <h2>
        Zesty automates tasks,<br />
        saves patients time<br />
        and hospitals money.
      </h2>
      <h4>Zesty Enterprise powers outpatient management for NHS Acute trusts.</h4>
    </div>
    <div class="col-sm-4">
      <a href="" class="btn btn-success">LEARN MORE</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row zesty-footer-wrapper">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="footer-subset">
              <label for="">GET IN TOUCH</label>
              <br/>
              <a href="#">Contact Us</a>
              <br/>
              <a href="#">Press & Awards</a>
              <br/>
              <a href="#">Blog</a>
              <br/>
              <a href="#">&nbsp;</a>
            </div>
            <div class="footer-subset">
              <label for="">DISCOVER ZESTY</label>
              <br/>
              <a href="#">About Zesty</a>
              <br/>
              <a href="#">We’re Hiring!</a>
              <br/>
              <a href="#">Social Media</a>
              <br/>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-subset">
              <label for="">Hospitals</label>
              <br/>
              <a href="#">Online Appointments</a>
              <br/>
              <a href="#">Two Factor Authentication</a>
              <br/>
              <a href="#">User experience</a>
              <br/>
              <a href="#">&nbsp;</a>
            </div>
            <div class="footer-subset">
              <label for="">PRACTICES</label>
              <br/>
              <a href="#">Contact Us</a>
              <br/>
              <a href="#">Press & Awards</a>
              <br/>
              <a href="#">Blog</a>
              <br/>
              <a href="#">&nbsp;</a>
            </div>
            <div class="footer-subset">
              <label for="">LEGAL</label>
              <br/>
              <a href="#">Contact Us</a>
              <br/>
              <a href="#">Press & Awards</a>
              <br/>
              <a href="#">Blog</a>
              <br/>
              <a href="#">&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
