<svg viewBox="0 0 600 300">
  <!-- Symbol-->
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="10%" dy=".35em">Jack Sharville</text>
  </symbol>
  <!-- Duplicate symbols-->
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
</svg>

<div class="info-wrapper">
  <div class="info-box">
    <p>Hi there, Im a front end developer !</p>
    <p>I write html css javascript and ruby</p>
    <p>This website is very much a work in progress as im going to be using<br/> it as a place for me to store random projects of mine</p>
  </div>
</div>

<a href="https://github.com/Morphasis/deus-vult" id="git-notification">This Websites Git</a>
