<link rel='stylesheet' href='/stylesheets/home_style.css' />
<svg viewBox="0 0 600 300">
  <!-- Symbol-->
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="10%" dy=".35em">Jack Sharville</text>
  </symbol>
  <!-- Duplicate symbols-->
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
</svg>

<div class="">
  <a href="/blog">Blog ></a>
</div>

<a href="https://github.com/Morphasis/deus-vult" id="git-notification">This Websites Git</a>
