<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->

<svg viewBox="0 0 600 300">
  <!-- Symbol-->
  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="10%" dy=".35em">Jack Sharville</text>
  </symbol>
  <!-- Duplicate symbols-->
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
  <use class="text" xlink:href="#s-text"></use>
</svg>

<p>
  Front End Developer <br/>
  Javascript proficiency is the goal :)
</p>

<a href="#" id="git-notification">This Websites Git</a>
