.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  padding: 5px;
  margin-top: 10px;
  text-align: center; }

.zesty-app-wrapper {
  background-color: #54b8b9;
  padding: 20px;
  height: 212px; }

.zesty-phone-img {
  position: absolute;
  top: -50px; }

.gtza-header {
  color: white;
  font-weight: bold;
  font-family: helvetica; }

.zesty-learn-more-wrapper {
  background-color: #e6e9e9; }

.zesty-header-wrapper {
  padding: 20px; }

.zesty-footer-wrapper {
  background-color: #414141;
  color: white; }

.footer-subset {
  display: inline-block;
  width: 19%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer-subset a {
    color: white;
    text-decoration: none; }
    .footer-subset a:hover {
      cursor: pointer;
      text-decoration: underline;
      color: white; }

.nhs-services-wrapper {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px; }
